<!DOCTYPE html>

<html lang="fr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148607352-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148607352-1');
    </script>
    <title>Last Life | Connexion</title>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
    <link href="{{ asset('img/favicon.ico') }}" rel="shortcut icon" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="author" content="Nelwinx">
    <meta name="description" content="Last Life est un blog indépendant couvrant l'actualité du jeu vidéo. Venez lire nos tests et articles sur les dernières sorties du moment !">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body id="login-body">
    {% for label, messages in app.flashes %}
        <div class="container" id="container_login">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="formulaire-connection">
        <div class="form-header-connection">
            <a href="{{ path('homepage') }}" id="login_backToIndex">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span>Connexion</span>
        </div>

        <form id="connexion" method="post" action="{{ path('login') }}">
            <div class="pseudo-container-connection">
                <div class="pseudo">
                    <label for="pseudo">Pseudo</label><br>
                    <input type="text" id="pseudo" name="_username" value="{{ lastUsername }}">
                </div>
            </div>

            <div class="password-connection">
                <label for="mdp">Mot de passe</label><br>
                <div id="relative">
                    <input id="mdp" name="_password" type="password">
                    <i class="fa fa-eye" id="eye"></i>
                </div>
            </div>

            <div class="parent-connexion">
                <div class="connexion-connection">
                    <input id="bouton_envoi-connection" type="submit" value="Se connecter">
                </div>
            </div>

            <div class="register-redirection">
                <p>
                    <a href="{{ path('register') }}">Pas encore inscris ? Par ici !</a>
                </p>
            </div>
        </form>
    </div>
    <script src="{{ asset('js/javascript_login.js') }}"></script>
</body>

</html>