{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main id="stick-footer">
    <div class="container my-5 mx-auto text-light mt-5" id="register-container">
        {{ form_start(formMembre) }}
        <h1 id="header-register">Inscription</h1>
        
                <div class="d-flex mb-2">
                    <div class="col-6 p-2">
                        <label for="membre_prenom">Prénom</label><br>
                        {{ form_widget(formMembre.prenom) }}
                        {{ form_errors(formMembre.prenom) }}
                    </div>
                    <div class="col-6 p-2">
                        <label for="membre_nom">Nom</label><br>
                        {{ form_widget(formMembre.nom) }}
                        {{ form_errors(formMembre.nom) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="membre_username" class="mt-2">Pseudo<span class="asterisque1">*</span></label><br>
                    {{ form_widget(formMembre.username) }}
                    {{ form_errors(formMembre.username) }}
                </div>

                <div class="form-group">
                    <label for="membre_email" class="mt-2">Email<span class="asterisque2">*</span></label><br>
                    {{ form_widget(formMembre.email) }}
                    {{ form_errors(formMembre.email) }}
                </div>

                <div class="form-group">
                    <label for="membre_password" class="mt-2">Mot de passe<span class="asterisque3">*</span></label><br>
                    {{ form_widget(formMembre.password) }}
                    {{ form_errors(formMembre.password) }}
                </div>


                <div class="form-group">
                    <label for="membre_confirm_password" class="mt-2">Confirmation du mot de passe<span class="asterisque3">*</span></label><br>
                    {{ form_widget(formMembre.confirm_password) }}
                    {{ form_errors(formMembre.confirm_password) }}
                </div>

                <div class="inscription mt-4">
                {{ form_widget(formMembre.submit) }}

                <div id="connect-redirect" class="mx-auto text-center mt-3"><a href="{{ path('login') }}" id="connect-redirect">Déjà membre ? Se connecter</a></div>

        {{ form_end(formMembre) }}
    </div>
</main>
    {% endblock %}