{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main id="stick-footer">
        {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
            <p class="mt-5">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %} 

    {% for article in articles %}
    <div class="index-section">
        <div class="headline">
            <div class="main-headline">
                <a href="article/{{ article.slug }}">
                    <img src="{{ asset('img/' ~ article.imagePreview ) }}" alt="{{ article.titre }}" class="previewImage">
                    <div class="main-headline-text">
                        <h1 class="main-headline-text-red">{{ article.titlePreview }}</h1>
                        <p>{{ article.textPreview }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

<div id="scrollBackToTop"><i class="fas fa-chevron-circle-up"></i></div>

<div id="pagination">
    <ul>
        {% if page == 1 %}
        <li>
            Page prec.
        </li>
        {% else %}
        <li>
            <a href="{{ path('homepage', {'page': page -1})}}">Page prec.</a>
        </li>
        {% endif %}
        {% for i in 1..pages %}
        <li class="{% if page == i %}active{% endif %}">
            <a href="{{ path('homepage', {'page': i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if page == pages %}
        <li>
            Page suiv.
        </li>
        {% else %}
        <li>
            <a href="{{ path('homepage', {'page': page +1})}}">Page suiv.</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}