{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container col-11 mx-auto text-light" id="stick-footer">
    <h1 class="my-5">Modification du mot de passe</h1>
    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %} 
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">Modifier le mot de passe</button>
    {{ form_end(form) }}
</div>
{% endblock %}