{% extends 'base.html.twig' %}

{% block title %}Profil de {{membre.username}} {% endblock %}

{% block body %}
<div class="container mt-5 text-light" id="stick-footer">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-3" id="account-header">Mon compte</h1>
            <img src="{{ asset('img/' ~ membre.picture) }}" class="avatar-profil mb-3"
                alt="Avatar de {{ membre.username }}">
            <br>
            <span>{{ membre.username }}</span>
            <div>{{ membre.prenom }} {{ membre.nom }} </div>
            <span>Inscrit(e) depuis le {{ membre.dateTimeRegistry | date("d/m/Y") }}</span>
            {% if membre is same as (app.user) %}
            <div class="mt-3">

                <a href="{{ path('profile_update') }}" class="btn btn-danger mr-2 mb-2">Modifier mes
                    informations</a>
                <a href="{{ path('password_update') }}" class="btn btn-danger mr-2 mb-2">Modifier
                    mon mot de passe</a>
            </div>
            {% endif %}
        </div>
        <div class="col-12 text-center">
            {% if membre.description is null %}
            {% if membre is same as (app.user) %}
            <p class="mt-5">Vous n'avez pas indiqué de description.</p>
            {% else %}
            <p class="mt-5">Ce membre n'a pas indiqué de description.</p>
            {% endif %}
            {% else %}
            <p class="mt-5"> {{ membre.description }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}