{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

<div class="container col-11 mx-auto text-light" id="stick-footer">
    <h1 class="my-5">Modification du profil</h1>
    {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-danger my-3">Enregistrer les modifications</button>
    {{ form_end(form) }}
</div>
{% endblock %}